.Layout 
	background url('../img/bg.jpg')
	background-size cover
	p-inline()
	/* the flex direction let you adjust the elements in column or rows */
	flex-direction column
	margin .5em
	padding .5em
	min-height 100vh /* this medition unit take the 100% of the viewport */
	/* this test is a function that we create to add the common atributes such as border, box sizing for each container o section */
	test() 
	>section
			margin .5em
	&-main
		p-inline()
	&-status
		test()
		width 200px
	&-battle
		background rgba(white, 0.5)
		test(orange)
		/* if you have many elements with sizes and 1 of them need to get the remaining space of the whole container, you can use this propiety  flex: 1 1 */
		flex 1
		margin 0 .5em
	&-phases
		test(blue)
		position relative
		width 200px
	/* the other 2 components which are inside of Layout */
	&-oponent
		test(purple)
		p-inline()
		
	&-player
		test(black)
		p-inline()