section(class="Layout")
	section(class="Layout-oponent")
		// you can create functions to call o do the same thing just like any other programming language using jade. Create a var with anyname and an array. Each element in the array can be used also to be listed in the template.jade, look it on the file for the example.
				-var greg = ["./img/vylon.jpg","./img/stardustdragon.jpg"]
				each val in greg
				img(src="#{val}")
		each item in ["YUGIOH"]
			include ../card/xyz.jade
	secion(class="Layout-main")
		article(class="Layout-status")
				each players in ["Leonidas", "Kengreg"]
					include ../status/status.jade
		article(class="Layout-battle")
			div(class="Battle-")
				include ../battle/battle.jade
		article(class="Layout-phases")
				- text = "Arrgh!! acceleration!...no voy a perder!"
				include ../phases/phases.jade
	section(class="Layout-player")
		each item in ["YUGIOH"]
			include ../card/template.jade