div(class="Card") 
	h2(class="Card-name") Stardust Dragon 
	img(src="./img/stardustdragon.jpg", class="Card-image")
	div(class="Card-description") During either player's turn, when a card or effect is activated that would destroy a card(s) on the field: You can Tribute this card; negate the activation, and if you do, destroy it. During the End Phase, if this effect was activated this turn (and was not negated): You can Special Summon this card from your Graveyard.  
	div(class="Card-attack") 2500