div(class="Card") 
	h2(class="Card-name") Squirtle 
	img(src="./img/squirtle.jpg", class="Card-image")
	div(class="Card-description") Its shell is not just for protection. Its rounded shape and the grooves on its surface minimize resistance in water, enabling SQUIRTLE to swim at high speeds.  
	div(class="Card-attack") 90