doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title Juego Pokemon Online by Kengreg
	link(rel="stylesheet", href="./css/app-pokemon.css")
body
	include ./layout/layout-pokemon.jade

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="../lib/app.js")

