doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title Juego Yugioh Online by Kengreg
	link(rel="stylesheet", href="./css/app.css")
body
	// h1 Yugioh Card Game 
	// Component called "Card", all the components are small pieces of html and CSS that create a object. like in python is called Class, same here
	include ./layout/layout.jade

