.Status
	background #fdfddb
	border 2px solid #2b411a
	box-shadow inset 1px 1px 6px 5px #57665f
	padding .5em
	&-player, &-lp
		color #3d3d3f
		font-size 1.5em
		padding .3em
		text-shadow 1px 1px 5px #d3d1b8
		text-align center